<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Document Classes</h4>
                        <p class="category">Saved searches</p>

                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Criteria</th>
                                    <th>Documents</th>
                                </tr>
                            </thead>
                            <tbody>
                             <tr>
                                    <td>PII</td>
                                    <td>has credit card and SSN</td>
                                    <td>has (CC && SSN)</td>
                                    <td class="text-danger"><a href=''>36,738</a></td>
                                </tr>
                                <tr>
                                    <td>Credit Card Statements</td>
                                    <td>Credit Card Statements</td>
                                    <td>Image recognition</td>
                                    <td class="text-danger"><a href=''>36,738</a></td>
                                </tr>
                                 <tr>
                                    <td>Cancelled Checks.</td>
                                    <td>Cancelled Checks.</td>
                                    <td>Image recognition</td>
                                    <td class="text-danger"><a href=''>36,738</a></td>
                                </tr>
                              <tr>
                                    <td>Incomplete Claims forms</td>
                                    <td>Claims documents missing user signatures</td>
                                    <td>has (signature blank)</td>
                                    <td class="text-danger"><a href=''>738</a></td>
                                </tr>
                                <tr>
                                    <td>job applicants who were not eventually hired</td>
                                    <td>HR records</td>
                                    <td>has (important class)</td>
                                    <td class="text-danger"><a href=''>4,638</a></td>
                                </tr>
                                 <tr>
                                    <td>employee benefit documents</td>
                                    <td>HR</td>
                                    <td>has (important class)</td>
                                    <td class="text-danger"><a href=''>4,638</a></td>
                                </tr>
                                 <tr>
                                    <td>employees pension payments</td>
                                    <td>HR records</td>
                                    <td>has (important class)</td>
                                    <td class="text-danger"><a href=''>4,638</a></td>
                                </tr>
                                 <tr>
                                    <td>employees suffered an accident on the job</td>
                                    <td>HR records</td>
                                    <td>has (important class)</td>
                                    <td class="text-danger"><a href=''>4,638</a></td>
                                </tr>
                                  <tr>
                                    <td>employees who have left</td>
                                    <td>HR records</td>
                                    <td>has (important class)</td>
                                    <td class="text-danger"><a href=''>4,638</a></td>
                                </tr>

                                  <tr>
                                    <td>employee lodged a discrimination claim </td>
                                    <td>HR records</td>
                                    <td>has (important class)</td>
                                    <td class="text-danger"><a href=''>4,638</a></td>
                                </tr>

                                <tr>
                                    <td>SpecificLegalCase</td>
                                    <td>Documents related to a legal case</td>
                                    <td>has (caseid related documents)</td>
                                    <td class="text-danger"><a href=''>38</a></td>
                                </tr>
                                 <tr>
                                    <td>Employment Salary Records</td>
                                   <td>HR</td>
                                    <td>has (caseid related documents)</td>
                                    <td class="text-danger"><a href=''>38</a></td>
                                </tr>
                                 <tr>
                                    <td>Employment Tax Records</td>
                                   <td>HR</td>
                                    <td>has (caseid related documents)</td>
                                    <td class="text-danger"><a href=''>38</a></td>
                                </tr>
                                 <tr>
                                    <td>Bank Account and Credit Card Statements</td>
                                    <td>Bank Account and Credit Card Statements</td>
                                    <td>has (caseid related documents)</td>
                                    <td class="text-danger"><a href=''>38</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

 <div class="col-md-12">

                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Document Lists</h4>
                        <p class="category">Documents manually added to the list</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>

                                    <th>Documents</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Business Asset Records</td>
                                    <td>Business Asset Records</td>

                                    <td class="text-danger"><a href=''>36,738</a></td>
                                </tr>
                              <tr>
                                    <td>Business Income Tax Returns and Supporting Documents.</td>
                                    <td>Business Income Tax Returns and Supporting Documents.</td>

                                    <td class="text-danger"><a href=''>738</a></td>
                                </tr>
                                <tr>
                                    <td>Cancelled Checks</td>
                                    <td>need long retention</td>

                                    <td class="text-danger"><a href=''>4,638</a></td>
                                </tr>
                                <tr>
                                    <td>LegalCase</td>
                                    <td>Documents related to a legal case</td>

                                    <td class="text-danger"><a href=''>38</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
