<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Document Classes</h4>
                        <p class="category">Saved searches</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Criteria</th>
                                    <th>DocumentList</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PII</td>
                                    <td>Documents with CreditCard and SSN</td>
                                    <td>has (CC && SSN)</td>
                                    <td class="text-danger"><a href=''>36,738</a></td>
                                </tr>
                              <tr>
                                    <td>Incomplete Claims forms</td>
                                    <td>Claims documents missing user signatures</td>
                                    <td>has (signature blank)</td>
                                    <td class="text-danger"><a href=''>738</a></td>
                                </tr>
                                <tr>
                                    <td>Important Documents</td>
                                    <td>need long retention</td>
                                    <td>has (important class)</td>
                                    <td class="text-danger"><a href=''>4,638</a></td>
                                </tr>
                                <tr>
                                    <td>LegalCase</td>
                                    <td>Documents related to a legal case</td>
                                    <td>has (caseid related documents)</td>
                                    <td class="text-danger"><a href=''>38</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Document List</h4>
                        <p class="category"> <select md-raised-button class="searchButton">

                        <option>Mary's Documents'</option>
                        <option>SalaryDocuments</option>
                        <option>F</option>
                        <option>5</option>
                    </select></p>
                    </div>

                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Salary</th>
                                    <th>Country</th>
                                    <th>City</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sage Rodriguez</td>
                                    <td>$56,142</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip Chaney</td>
                                    <td>$38,735</td>
                                    <td>Korea, South</td>
                                    <td>Overland Park</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Doris Greene</td>
                                    <td>$63,542</td>
                                    <td>Malawi</td>
                                    <td>Feldkirchen in Kärnten</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Mason Porter</td>
                                    <td>$78,615</td>
                                    <td>Chile</td>
                                    <td>Gloucester</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
