<div class="main-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <md-card>
               <md-input-container>
                  <input class="search" mdinput [(ngModel)]="searchQuery" name="search" placeholder="Search for images">
               </md-input-container>
               <br>
               <button (click)="searchImages(searchQuery)" md-raised-button class="searchButton" type="button">Search</button>
               <button md-raised-button class="searchButton">Advance Search</button>


            </md-card>
            <h4 *ngIf="imagesFound" md-subeader>
               Results
            </h4>
            <table datatable class="table row-border hover" *ngIf="imagesFound">

               <tr class="row" *ngFor="let image of images">

                  <td>
                     <a href="{{ image.pageURL }}" target="_bank">
                        <div class="avatar" md-card-avatar [ngStyle]="{'background-image':'url('+ image.webformatURL +')', 'background-size':'40px 40px'}"> </div>
                     </a>
                  </td>
                  <td><a href=''>{{image.id }}</a></td>
                  <td>{{image.tags }}</td>
                  <td>
                     <select md-raised-button >
                        <option>Action</option>
                        <option>Download</option>
                         <option>Edit Physical Metadata</option>
                        <option>Edit Digital Metadata</option>
                        <option>Place an Order</option>
                     </select>
                  </td>
               </tr>
            </table>
         </div>
      </div>
   </div>
</div>
