<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Retention Policies</h4>
                        <p class="category"></p>

                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>RecordClass</th>
                                    <th>Description</th>
                                    <th>Policy</th>
                                    <th>AppliedTo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Employment Tax Records.</td>
                                    <td>Employment Tax Records.</td>
                                    <td> retain minimum 4yrs after the date those taxes were due or were paid</td>

                                    <td class="text-danger"><a href=''>EmployeeTaxRecords</a></td>
                                </tr>
                                 <tr>
                                    <td>job applicants.</td>
                                    <td>job applicants</td>
                                    <td> at least 3 years</td>

                                    <td class="text-danger"><p><a href=''>job applicants who were not eventually hired</a></p>
                                    <p><a href=''>Cancelled checks</a></p>
                                    <p><a href=''>Credit card statements</a></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Default</td>
                                    <td>default</td>
                                    <td> at least 7 years</td>

                                    <td class="text-danger"><p><a href=''>HRDocs of employees who have left</a></p>
                                    <a href=''>HRDocs of employee has suffered an accident on the job</a></td>
                                </tr>

                                 <tr>
                                    <td>Permanent Retention</td>
                                    <td></td>
                                    <td>Permanently</td>

                                    <td class="text-danger"><p><a href=''>pension payment documents</a></p>
                                    <p><a href=''>employee benefit documents</a></p>
                                     <a href=''>final copy of your business income tax returns</a></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                  <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Governance Policies</h4>
                        <p class="category"></p>

                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Policy</th>
                                    <th>Description</th>

                                    <th>AppliedTo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>OnPremise storage</td>
                                    <td>cannot be stored on the cloud</td>


                                    <td class="text-danger"><a href=''>PII documents</a></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


</div>
